
:root {
    --max-width: 60rem;
    --color-primary: #007ACC;
    --color-primary-dark: #107491;
    --color-secondary: #46BE77;
    --color-secondary-dark: #22846C;
    --color-neutral: #8C8D91;
    --color-neutral-dark: #111;
    --color-neutral-light: #FBFCFC;
    --color-text: #555;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    background: color(var(--color-primary) l(99%));
}

body {
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1.5rem;
    
    height: 100%;
    
    /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background: var(--color-neutral);
    opacity: 0.2;
    margin: 2rem 0;
}

.loader {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    width: 100vw;
    
    opacity: 1;
    
    animation: loader-fade-in 3s;
    background-color: var(--color-neutral-light);
}

@keyframes loader-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.loaderContent {
    align-items: center;
    justify-content: center;
    vertical-align: middle;

}

.loaderGrid {
    display: flex;
    flex-direction: column;
}

.loaderRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loaderText {
    text-align: center;

    color: var(--color-neutral-dark);

    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 22px;
}